# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\One Year Life expectancy post thoracic surgery using IBM watson studio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
